<!DOCTYPE html>
<html>
<head>
    <title>InternTrack</title>
</head>
<body>
    <div style="text-align: right; padding: 10px; background: #eee;">
        User: <strong>{{ user.username }}</strong> | 
        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">ออกจากระบบ (Logout)</button>
        </form>
    </div>
    <h1>Internship Applications</h1>
    <a href="{% url 'internship_create' %}"> + Add New Application</a>
    <hr>
    <ul>
        {% for internship in internships %}
            <li>
                <strong>{{ internship.company_name }}</strong> - {{ internship.role }} 
                (Status: {{ internship.get_status_display }})
                <a href="{% url 'internship_update' internship.pk %}">[edit]</a>
                <a href="{% url 'internship_delete' internship.pk %}">[delete]</a>
            </li>
        {% empty %}
            <li>No information internship applications.</li>
        {% endfor %}
    </ul>
</body>
</html>